/* ---------------------------------- PC ----------------------------------- */

/* ----------------- General ------------------ */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(19, 18, 18);
  color: rgb(230, 227, 227);
  font-size: 14pt;
  height: 100%;
}

.page {
  align-items: center;
  display: flex;
  flex-flow: wrap column;
  height: 100%;
  justify-content: space-around;
  width: 100%;
}

.login-area, .search-area, .favorite-area {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  margin: auto;
}

.transition-loading {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.transition-loading .spinner {
  height: 120px;
  width: 120px;
}

/* -------------------------------------------- */

/* ------------------- Login ------------------ */
.logo {
  margin-bottom: 2%;
  margin-top: 0;
  width: 15%;
}

.email-input, .search-input {
  border: none;
  border-radius: 5px;
  font-size: 15pt;
  margin: 20px;
  padding: 10px;
  width: 30%;
}

.button {
  background-color: rgb(56, 174, 55);
  border: none;
  border-radius: 5px;
  color: black;
  cursor: pointer;
  font-size: 15pt;
  height: 7%;
  margin-bottom: 2%;
  padding: 10px;
  width: 15%;
}

.button:disabled {
  background-color: rgb(58, 100, 57);
}

/* -------------------------------------------- */

/* ------------------ Header ------------------ */
.page header {
  margin-top: 30px;
}

.header-component {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: space-around;
  width: 50%;
}

.user-name {
  color: rgb(212, 212, 212);
  font-family: Arial , Helvetica , sans-serif;
  font-size: 20pt;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.nav-link {
  color: rgb(202, 138, 18);
  font-size: 20pt;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

/* -------------------------------------------- */

/* ------------------ Albuns ------------------ */
.page .album-card {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 40px 0;
  text-align: center;
  width: 80%;
}

.albuns-group {
  display: flex;
  flex-wrap: wrap;
  height: 50%;
  justify-content: space-around;
}

.album-link {
  margin: 1%;
  text-decoration: none;
  width: 14%;
}

.mini-card {
  align-items: center;
  background-color: rgb(34, 33, 33);
  border-radius: 10px;
  color: rgb(212, 212, 212);
  display: flex;
  flex-direction: column;
  height: 170px;
  justify-content: space-around;
  padding: 3px;
  text-align: center;
}

.card-img {
  border-radius: 5px;
  height: 100px;
  width: 60%;
}

.card-title {
  font-size: 16pt;
}

.card-text {
  font-size: 8pt;
  overflow-wrap: break-word;
}

.page-album .card-text {
  font-size: 14pt;
}

.page-album .album-card .card-img {
  width: 15%;
}

/* -------------------------------------------- */

/* ------------------ Songs ------------------- */
.songs-container .spinner {
  margin: auto 95px;
  padding: 30px;
}

.songs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 40px;
  width: 100%;
}

.song-card {
  align-items: center;
  background-color: rgb(31, 29, 29);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: space-around;
  margin-bottom: 2%;
  padding: 1%;
  width: 25%;
}

.song-card span {
  overflow-wrap: break-word;
  text-align: center;
}

.song-card audio {
  width: 95%;
}

.heart-icon {
  width: 37px;
}

/* -------------------------------------------- */

/* ----------------- Profile ------------------ */
.page-profile, .page-profile-edit {
  height: 100vh;
}

.user-infos {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 11pt;
  height: 60%;
  justify-content: space-around;
  width: 50%;
}

.user-image {
  border-radius: 50%;
  width: 90px;
}

.user-infos a {
  color: rgb(12, 171, 235);
  font-size: 16pt;
  text-decoration: none;
}

/* -------------------------------------------- */

/* --------------- Profile-Edit --------------- */
.page-profile-edit header {
  margin: 0;
}

.user-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 60%;
  justify-content: space-between;
  width: 80%;
}

.labels-container {
  align-items: center;
  border: none;
  display: flex;
  flex-wrap: wrap;
  height: 50%;
  justify-content: space-around;
  width: 100%;
}

.user-form label {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 40%;
  justify-content: space-around;
  width: 35%;
}

.form-field {
  border: none;
  border-radius: 5px;
  font-size: 12pt;
  height: 20px;
  padding: 5px;
}

.user-form label textarea {
  height: 50px;
}

.user-form .button {
  height: 12%;
}

/* -------------------------------------------- */

/* ---------------- Not-Found ----------------- */
.not-found-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 25pt;
  height: 100vh;
  justify-content: space-around;
  overflow-wrap: break-word;
  text-align: center;
  width: 100%;
}

.not-found-page p {
  animation: pulse-purple 2s infinite;
  transform: scale(1);
}

@keyframes pulse-purple {

  0% {
    color: rgb(190, 79, 156);
    transform: scale(0.9);
  }

  25% {
    color: rgb(127, 64, 143);
  }

  50% {
    color: rgb(43, 45, 128);
    transform: scale(1);
  }

  75% {
    color: rgb(127, 64, 143);
  }

  100% {
    color: rgb(190, 79, 156);
    transform: scale(0.9);
  }
}

/* -------------------------------------------- */

/* ------------------------------------------------------------------------- */

/* ----------------------------- Responsive -------------------------------- */

@media screen and ( max-width : 1240px ) {

  .album-link {
    width: 18%;
  }
}

@media screen and ( max-width : 1090px ) {

  .album-link {
    margin: 2%;
    width: 20%;
  }

  .page-album .card-title {
    font-size: 20pt;
  }

  .page-album .card-text {
    font-size: 16pt;
    width: 40%;
  }

  .song-card {
    width: 35%;
  }

  .form-field {
    height: 30px;
    padding: 8px;
  }
}

@media screen and ( max-width : 900px ) {

  .album-link {
    margin: 2%;
    width: 20%;
  }
}

@media screen and ( max-width : 870px ) {

  .logo {
    margin: 0;
  }

  .nav-link {
    font-size: 20pt;
  }

  .email-input, .search-input {
    font-size: 16pt;
    padding: 20px;
    text-align: center;
  }

  .button {
    height: 8%;
    padding: 20px;
    width: 20%;
  }

  .album-link {
    margin: 2%;
    width: 25%;
  }

  .song-card {
    width: 40%;
  }

  .user-form .button {
    height: 14%;
  }
}

@media screen and ( max-width : 650px ) {

  .logo {
    width: 25%;
  }

  .header-component {
    width: 100%;
  }

  .email-input, .search-input {
    width: 50%;
  }

  .button {
    width: 40%;
  }

  .album-link {
    margin: 2%;
    width: 28%;
  }

  .page-album .card-text {
    font-size: 14pt;
    width: 30%;
  }

  .song-card {
    width: 70%;
  }

  .page-profile-edit {
    flex-wrap: unset;
    height: 115vh;
  }

  .user-form {
    height: 77%;
  }

  .labels-container {
    flex-direction: column;

    /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
    flex-wrap: unset;
    height: 60%;
  }

  .user-form .button {
    height: 11%;
    padding: 18px;
  }
}

@media screen and ( max-width : 550px ) {

  .album-link {
    margin: 2%;
    width: 40%;
  }

  .album-card {
    flex-wrap: wrap;
  }

  .page-album .album-card .card-img {
    width: 30%;
  }
}

@media screen and ( max-width : 450px ) {

  .search-area h2 {
    font-size: 14pt;
  }

  .album-link {
    margin: 2%;
    width: 60%;
  }

  .album-card {
    height: 220px;
  }

  .page-album .card-text {
    font-size: 14pt;
    width: 48%;
  }
}

@media screen and ( max-width : 350px ) {

  .album-card {
    height: 280px;
  }

  .card-title, .page-album .album-card .card-img {
    width: 60%;
  }
}

/* ------------------------------------------------------------------------- */
