body {
  background-color: rgb(33, 33, 33);
  color: rgb(230, 227, 227);
}

/* ----------------------------- Login -------------------------------- */
.login-area {
  align-items: center;
  background-color: brown;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  margin: auto;
}
